﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Family Law Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @RenderSection("Style", required: false)
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/LSBU2020logo.png" height="40px" />
                <span class="font-weight-bolder small pt-5 text-dark">Family Law Hub</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse mr-auto">

                <partial name="_LoginPartial" />
                <ul class="nav navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class=" nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Management
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.IsInRole("Administrator"))
                            {
                                <a class="dropdown-item text-dark" asp-page="/Admin/Users/Index">Users</a>
                                <a class="dropdown-item text-dark" asp-page="/Admin/Roles/Index">Roles</a>
                            }
                            <a class="dropdown-item text-dark" asp-page="/Admin/Enquiries/Index">Enquiries</a>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Family Law Hub @("@") LSBU - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
