@using FamilyLaw.Hub.Web.Infrastructure.Persistence.Model
@using Microsoft.AspNetCore.Identity
@using FamilyLaw.Hub.Web.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
{

                <li class="nav-item">
                    <a class="nav-link text-dark"  asp-page="/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                </li>
                <li class="nav-item">
                    <form asp-page="/Logout" method="post" id="logoutForm" class="form-inline">

                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
}
else
{
    <li class="nav-item"><a class="nav-link text-dark" asp-page="Login">Login</a></li>

}
</ul>