﻿@page
@model IndexModel
@{ ViewData["Title"] = "We are here to help"; }
<div class="col-12">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title display-4 border-bottom pb-4 ml-3 " style="font-size: 27px;">Family Law Hub @("@") LSBU</h5>
                    <p class="m-3">
                        The family law hub @("@") LSBU offers to help people who do not have a lawyer with family law problems.  The service is provided by volunteer students.  We offer information and support with legal problems. We are not qualified to give legal advice, but our input might provide you with the information and support that you need to make important decisions for you and your family.
                    </p>
                    
                    <p class="m-3">
                        Please fill out the following sections if you need help with a family law problem.
                    </p>
                    <div class="col-md-12">
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="FirstName">First Name<span class="text-danger">*</span></label>
                                <input asp-for="FirstName" class="form-control" placeholder="Please enter your first name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName">Last Name<span class="text-danger">*</span></label>
                                <input asp-for="LastName" class="form-control" placeholder="Please enter your last name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmailAddress">Email Address<span class="text-danger">*</span></label>
                                <input asp-for="EmailAddress" class="form-control" placeholder="Please enter your email address" />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number</label>
                                <input asp-for="PhoneNumber" class="form-control" placeholder="Please enter your phone number" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Gender">Gender</label>
                                <select asp-for="Gender" asp-items="Model.Genders" class="form-control"></select>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="HowDidYouFoundUs">How did you find out about the service?</label>
                                <select asp-for="HowDidYouFoundUs" asp-items="Model.HowDidYouFoundUsOptions" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="AdviceType">Which areas do you need advice?</label>
                                <select asp-for="AdviceType" asp-items="Model.AdviceTypes" class="form-control"></select>
                            </div>

                            <div class="form-group">
                                <label asp-for="FamilyMatter">Family matter<span class="text-danger">*</span></label>
                                <textarea asp-for="FamilyMatter" class="form-control" placeholder="Please give a brief detail around the matter to which you wish to receive legal advice" rows="3"></textarea>
                                <span asp-validation-for="FamilyMatter" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ArgumentsWithPartner">If there are any arguments with your former partner, what usually happens?</label>
                                <textarea asp-for="ArgumentsWithPartner" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label asp-for="ArgumentsWithFamily">Do you generally have a lot of arguments within your family/home environment?</label>
                                <textarea asp-for="ArgumentsWithFamily" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label asp-for="InjuryFromFamily">Have you ever sustained an injury or caused an injury in a home environment?</label>
                                <textarea asp-for="InjuryFromFamily" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label asp-for="HowSafeDoYouFeel">How safe do you and/or your family feel currently?</label>
                                <textarea asp-for="HowSafeDoYouFeel" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label asp-for="SpecialNeeds">Do you have any special requirements that we may need to be aware of?</label>
                                <textarea asp-for="SpecialNeeds" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label asp-for="SpecialNeedsChildren">Do any of your children have any special needs?</label>
                                <textarea asp-for="SpecialNeedsChildren" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                            </div>


                            <div class="form-group">
                                <label asp-for="RiskToChildren">Are you or your children at any risk of harm?</label>
                                <textarea asp-for="RiskToChildren" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn btn-outline-primary">Save</button>
                        </form>
                    </div>


                </div>
            </div>

        </div>
        @*<div class="col-md-5">

            <img class="col-lg-12" src="https://www.lsbu.ac.uk/__data/assets/image/0019/263413/Student-prizes.jpg" class="mg-responsive"  alt="..."/>
        </div>*@

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
