﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="col-6">
    <h1 class="display-4" style="font-size: 27px;">@ViewData["Title"]</h1>
     <hr/>
    <p>You have successfully logged out of the application.</p>
</div>