﻿@page
@model PrivacyModel
@{ ViewData["Title"] = "Privacy Policy"; }

<div class="col-12">
    <div class="card border-0">

        <div class="card-header bg-white mb-3">
            <div class="card-title">
                <h5 class="display-4 float-left" style="font-size: 27px;">Data Notice and Privacy Statement</h5>
            </div>
        </div>
        <div class="card-body">
            <p>
                We  are  registered  as  a  Data  Controller  with  the  Information  Commissioners  Office.  
                We  will use the information that you give us to provide you with help and support. 
                We will keep your information confidential and will only use it for the purpose(s) 
                for which it was provided or as is  permitted  in  law  
                (i.e.  for  dealing  with  complaints  or  regulatory  investigations  and  for  
                our research to help us improve the way that we support people.).   
                Sometimes we might share your information if we are concerned that a child or 
                vulnerable adult is at risk of serious harm.
            </p>
            
            <p>
                We may share some or all of your information with other third parties. This may include lawyers and 
                mediators and others who we need to work with to assist with your matter.   
                In doing so we will always take care to ensure that your information remains confidential and safe.
            </p>
            
            <p>
                You  have  rights  under  the  Data  Protection  legislation,  and  these  include  the  right  to  
                be informed what data we hold about you (though it is likely that you will have provided us with the information that we hold). 
                If you believe that the information, we hold is wrong or out of date, please let us know and we will update it where appropriate.
            </p>
            <p>
                We will only hold your information for as long as necessary to provide you with support
                and then for only so long as we are required either contractually or under our regulatory obligations.
            </p>
            
            <p>
                Our full Privacy Notice is available on our website <a href="https://www.lsbu.ac.uk/footer/data-protection" target="_blank">LSBU Privacy Notice</a>
            </p>
        </div>
    </div>

</div>

