﻿@page
@model FamilyLaw.Hub.Web.Pages.SuccessModel
@{
    ViewData["Title"] = "We have got your Enquriy!";
}

<div class="col-8">
    <h1 class="display-4" style="font-size: 27px;">@ViewData["Title"]</h1>
    <hr/>
    <p>You have successfully submitted your Enquriy. We will contact you as soon as possible.</p>
</div>