﻿@{ Layout = "../Shared/_Layout.cshtml"; }

<div class="col-12">
    <h2 class="display-4 " style="font-size: 27px;">Manage your account</h2>
</div>


<div class="col-12">
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
