﻿@page
@using FamilyLaw.Hub.Web.Pages.Manage
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download that data.</p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-outline-primary" type="submit">Download</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}