﻿@page
@using FamilyLaw.Hub.Web.Infrastructure.Persistence.Model.Enquiry
@model FamilyLaw.Hub.Web.Pages.Admin.Enquiries.IndexModel
@{ ViewData["Title"] = "View Enquiries";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }

<div class="col-12">

    <div class="card border-0">
        <div class="card-header bg-white mb-3">
            <div class="card-title">
                <h5 class="display-4 float-left" style="font-size: 27px;">Manage Enquiries</h5>
            </div>
        </div>
        <div class="card-body">
            <table id="enquiry_table" class="table table-striped table-bordered dt-responsive nowrap">
                <thead class="thead-dark">
                <tr>
                    <th>
                        Ticket Id
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Advice Type
                    </th>
                    <th>
                        Family Matter
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Updated
                    </th>
                    <th>
                        Updated By
                    </th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var enquiry in Model.Enquiries)
                    {
                    <tr>
                        <td>
                            @enquiry.Id
                        </td>
                        <td>
                            @(string.IsNullOrWhiteSpace(enquiry?.User?.FirstName) ? "Not Assigned" : $"{enquiry.User.FirstName} {enquiry.User.LastName}")
                        </td>
                        <td>
                            @switch (enquiry.Status)
                            {
                                case Status.AwaitingResponse:
                                    @:Awaiting Response
                                    break;
                                case Status.InProgress:
                                    @:In Progress
                                    break;
                                case Status.Closed:
                                    @:Closed
                                    break;
                            }
                        </td>
                        <td>
                            <a asp-page="./View" asp-route-id="@enquiry.Id">@enquiry.AdviceType.Name</a>

                        </td>
                        <td>
                            @enquiry.FamilyMatter
                        </td>

                        <td>
                            @enquiry.Created.ToLongDateString()
                        </td>
                        <td>
                            @(enquiry.Updated.HasValue ? enquiry.Updated.Value.ToLongDateString() : string.Empty)
                        </td>
                        <td>
                            @enquiry.UpdatedBy
                        </td>
                   
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Style
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css" />
}

@section Scripts
{
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript">$(document).ready(function () {
    $('#enquiry_table').DataTable();
        });</script>
}
