﻿@page "{id}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model FamilyLaw.Hub.Web.Pages.Admin.Enquiries.ViewModel

@{
    ViewData["Title"] = "Manage Enquiry";
    var isNoteTab = (TempData.ContainsKey("Notes") && (bool)TempData["Notes"]);
    var noteHasErrors = (TempData.ContainsKey("NoteErrors") && (bool)TempData["NoteErrors"]);
}

<div class="col-12">
    <div class="row">
        <div class="col-12">
            <div class="card border-0">

                <div class="card-header bg-white mb-3">
                    <div class="card-title">
                        <h5 class="display-4 float-left" style="font-size: 27px;">Manage Enquiry</h5>
                        <div class="float-right">
                            <a class="btn btn-outline-primary" asp-page="Index">Back</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link @(isNoteTab ? "": "active")" id="nav-enquiry-tab" data-toggle="tab" href="#nav-enquiry" role="tab" aria-controls="nav-enquiry" aria-selected="true">Enquiry</a>
                            <a class="nav-item nav-link @(isNoteTab ? "active" : "")" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade @(isNoteTab ? "": "active show")" id="nav-enquiry" role="tabpanel" aria-labelledby="nav-enquiry-tab">
                            <div class="col-md-7 mt-4">
                                <form method="post">
                                    <div class="form-group">
                                        <label asp-for="Status">Status</label>
                                        <select asp-for="Status" asp-items="Model.Statuses" class="form-control"></select>
                                    </div>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, "Enquiry-Personal-Data-View")).Succeeded)
                                    {
                                        <div class="form-group">
                                            <label asp-for="Owner">Owner</label>
                                            <select asp-for="Owner" asp-items="Model.Owners" class="form-control"></select>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="FirstName">First Name<span class="text-danger">*</span></label>
                                            <input asp-for="FirstName" class="form-control" placeholder="Please enter your first name" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LastName">Last Name<span class="text-danger">*</span></label>
                                            <input asp-for="LastName" class="form-control" placeholder="Please enter your last name" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EmailAddress">Email Address<span class="text-danger">*</span></label>
                                            <input asp-for="EmailAddress" class="form-control" placeholder="Please enter your email address" />
                                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="PhoneNumber">Phone Number</label>
                                            <input asp-for="PhoneNumber" class="form-control" placeholder="Please enter your phone number" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Gender">Gender</label>
                                            <select asp-for="Gender" asp-items="Model.Genders" class="form-control"></select>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label asp-for="OwnerName">Owner Name</label>
                                            <input asp-for="OwnerName" class="form-control disabled" disabled="disabled" />
                                        </div>
                                    }

                                    <div class="form-group">
                                        <label asp-for="HowDidYouFoundUs">How did you find out about the service?</label>
                                        <select asp-for="HowDidYouFoundUs" asp-items="Model.HowDidYouFoundUsOptions" class="form-control"></select>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AdviceType">Which areas do you need advice?</label>
                                        <select asp-for="AdviceType" asp-items="Model.AdviceTypes" class="form-control"></select>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="FamilyMatter">Family matter<span class="text-danger">*</span></label>
                                        <textarea asp-for="FamilyMatter" class="form-control" placeholder="Please give a brief detail around the matter to which you wish to receive legal advice" rows="3"></textarea>
                                        <span asp-validation-for="FamilyMatter" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ArgumentsWithPartner">If there are any arguments with your former partner, what usually happens?</label>
                                        <textarea asp-for="ArgumentsWithPartner" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ArgumentsWithFamily">Do you generally have a lot of arguments within your family/home environment?</label>
                                        <textarea asp-for="ArgumentsWithFamily" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="InjuryFromFamily">Have you ever sustained an injury or caused an injury in a home environment?</label>
                                        <textarea asp-for="InjuryFromFamily" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="HowSafeDoYouFeel">How safe do you and/or your family feel currently?</label>
                                        <textarea asp-for="HowSafeDoYouFeel" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="SpecialNeeds">Do you have any special requirements that we may need to be aware of?</label>
                                        <textarea asp-for="SpecialNeeds" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="SpecialNeedsChildren">Do any of your children have any special needs?</label>
                                        <textarea asp-for="SpecialNeedsChildren" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="RiskToChildren">Are you or your children at any risk of harm?</label>
                                        <textarea asp-for="RiskToChildren" class="form-control" placeholder="Please provide brief details if this is applicable" rows="3"></textarea>
                                    </div>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, "Enquiry-Edit")).Succeeded)
                                    {
                                        <button type="submit" class="btn btn-outline-primary">Save</button>
                                        <a asp-page="Index" class="btn btn-outline-primary">Cancel</a>
                                    }
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade @(isNoteTab ? "active show" : "")" id="nav-notes" role="tabpanel" aria-labelledby="nav-profile-notes">

                            <div class="row">
                                <div class="col-10">
                                    <form method="post" asp-page-handler="Note" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
                                        <div class="card mb-4 mt-5">

                                            <div class="card-body border-0">

                                                <div class="form-group">
                                                    <label asp-for="NoteTitle">Note Title<span class="text-danger">*</span></label>
                                                    <input asp-for="NoteTitle" class="form-control" placeholder="Please enter note title" />
                                                    <span asp-validation-for="NoteTitle" class="text-danger"></span>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label asp-for="DocumentUrl">Url</label>
                                                    </div>
                                                </div>

                                                <div class="form-row mb-2">
                                                    <div class="col">
                                                        <input asp-for="DocumentUrl" class="form-control" placeholder="Url" />
                                                    </div>
                                                    <div class="col">
                                                        <input asp-for="DocumentName" class="form-control" placeholder="Document Name" />
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label asp-for="Note">Note<span class="text-danger">*</span></label>
                                                    <textarea asp-for="Note" class="form-control" placeholder="Please provide note for the enquiry" rows="3"></textarea>
                                                    @if (noteHasErrors)
                                                    {
                                                        <span class="text-danger">You must enter title and note</span>
                                                    }

                                                </div>
                                                <button type="submit" class="btn btn-outline-primary">Add Note</button>
                                                <button type="button" class="btn btn-outline-primary float-right" data-toggle="collapse" data-target=".multi-collapse">Show/Hide Notes</button>
                                            </div>
                                        </div>
                                    </form>


                                    @foreach (var note in Model.Notes)
                                    {
                                        <div class="card mb-2 mt-2">
                                            <div class="card-header">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#note_@note.Id">
                                                    @note.Title
                                                </button>
                                                <span class="float-right">@note.CreatedBy - @note.Created</span>
                                            </div>
                                            <div id="note_@note.Id" class="collapse multi-collapse">
                                                <div class="card-body">
                                                    <p class="card-text">@note.Note</p>
                                                    @if (!string.IsNullOrWhiteSpace(note.Url))
                                                    {
                                                        <a href="@Html.Encode(note.Url)" target="_blank" class="btn btn-primary">@note.DocumentName</a>
                                                    }
                                                </div>
                                            </div>

                                        </div>

                                    }


                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        completed = () => {
            alert('Posted using Unobtrusive AJAX');
        };
    </script>

}