﻿@page
@model FamilyLaw.Hub.Web.Pages.Admin.Users.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vm.Id" />
            <div class="form-group">
                <label asp-for="vm.Email" class="control-label"></label>
                <input asp-for="vm.Email" class="form-control" />
                <span asp-validation-for="vm.Email" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="vm.FirstName" class="control-label"></label>
                <input asp-for="vm.FirstName" class="form-control" />
                <span asp-validation-for="vm.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.LastName" class="control-label"></label>
                <input asp-for="vm.LastName" class="form-control" />
                <span asp-validation-for="vm.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vm.PhoneNumber" class="control-label"></label>
                <input asp-for="vm.PhoneNumber" class="form-control" />
                <span asp-validation-for="vm.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="vm.Enabled" /> @Html.DisplayNameFor(model => model.vm.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <select asp-for="SelectedRoles" asp-items="Model.RoleList" class="form-control"></select>
                <span asp-validation-for="SelectedRoles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-page="Index" class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
