﻿@page
@model FamilyLaw.Hub.Web.Pages.Admin.Roles.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Role Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Permissions
        </dt>
        @foreach (var claim in Model.SelectedClaims)
        {
            <dd>
                @claim
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-page="Index" class="btn btn-outline-primary">Cancel</a>
</div>
