﻿@page
@model FamilyLaw.Hub.Web.Pages.Admin.Roles.IndexModel

@{ ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml"; }

<div class="col-12">

    <div class="card border-0">
        <div class="card-header bg-white mb-3">
            <div class="card-title">
                <h5 class="display-4 float-left" style="font-size: 27px;">Manage Roles</h5>
                <div class="float-right">
                    <a class="btn btn-outline-primary" asp-page="Create">Add New Role</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="user_table" class="table table-striped table-bordered dt-responsive nowrap">
                <thead class="thead-dark">
                    <tr>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Role)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Style
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap4.min.css" />
}

@section Scripts
{
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
            $('#user_table').DataTable();
        });</script>
}

